package view

templ Shitwoch(isShitwoch bool) {
	if isShitwoch {
		<p>Yes</p>
	} else {
		<p>No</p>
	}
}

templ Index(isShitwoch bool) {
	@Base("Shitwoch") {
		<div>
			<h1>Is it shitwoch yet?</h1>
      <div hx-get="/is_shitwoch" hx-trigger="load, every 5m" hx-include="[name='timezone']">
        @Shitwoch(isShitwoch)
      </div>
		</div>
	}
}
