package view

templ Index(isShitwoch bool) {
  @Base("Shitwoch") {
    <div>
      <h1>Is it shitwoch yet?</h1>
      if isShitwoch { 
        <p>Yes</p> 
      } else { 
        <p>No</p> 
      }
    </div>
  }
}
